.container {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 60px;
}

.routes {
  width: 100%;
  height: calc(100% - 60px);
}

.spacer {
  flex: 1 1 auto;
}
.nav-icon {
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: white;
  margin: 0 5px;
}

.nav-text {
  font-size: 15px;
}
